.button-container {
    padding: 12px;

    .button {
        background-color: #F5C74D;
        border-radius: 10px;
        font-weight: 700;
        font-size: 18px;
        padding: 32px;
        border: 2px solid transparent;
        cursor: pointer;
        color: white;
        transition: all .3s ease-in-out;
        margin-top: 20px;
        box-sizing: border-box;

        &:hover {
            border: 2px solid #F5C74D;
            background-color: transparent;
            color: #F5C74D;
        }
    }

}