.time {
    padding: 32px;
    text-align: center;

    &__titulo {
        border-bottom: 4px solid;
        display: inline-block;
        font-size: 32px;
        padding-bottom: 8px;
    }

    &__divisao-time {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.6rem;
        margin-top: 32px;
    }
}