.field {
    margin: 24px 0;
    border: none;
    
    &__label {
        color: #8B3A30;
        display: block;
        margin-bottom: 8px;
        font-size: 1.3rem;
        font-weight: 600;
    }

    &__input {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        width: 100%;
        color: #5c5c5c;
        border: none;
        font-size: 1rem;
        padding: 1rem;
        box-sizing: border-box;
        outline: none;

        &::placeholder {
            color: #5c5c5c;
        }
    }
}