.dropdown-List {
    border: none;

    &__label {
        color: #8B3A30;
        display: block;
        margin-bottom: 8px;
        font-size: 1.3rem;
        font-weight: 600;
    }

    &__select {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        width: 100%;
        border: none;
        color: #5c5c5c;
        font-size: 1rem;
        padding: 1rem;
        outline: none;
    }

}